.header {
    padding-bottom: 30px;
    @include flexCenter($ai: center, $jc: center, $fd: column, $gap: 10px);
    @include response(md) {
        @include flexCenter($ai: center, $jc: center, $fd: column, $gap: 30px);
    }
    
    .logo {
        width: 300px;
        height: auto;

        @include response(md) {
            width: 400px
        }

        @include response(lg) {
            width: 592px;
        }
    }    

    .navbar {
        width: 92%;
        min-width: 290px;  
        max-width: 500px;

        @include response(lg) {
            max-width: 660px;
        }

        .menu-list {
            @include flexCenter($ai: center, $jc: space-between, $fd: row, $gap: 0);
            
            .list-item {
                list-style: none;

                .list-item-name {                    
                    position: relative;
                    text-decoration: none;
                    color: color(blackColor); 
                    font-size: size(sm);      
                    
                    @include response(md) {
                        font-size: size(lg);
                        &::before,
                        &::after {
                            content: '';
                            position: absolute;
                            bottom: -5px;
                            width: 0;
                            height: 2px;
                            background-color: color(hoverColor);
                            transition: width 0.3s ease;
                        }
                        
                        &::before {
                            right: 50%;
                        }
                        
                        &::after {
                            left: 50%;
                        }
                        
                        &:hover::before,
                        &:hover::after {
                            width: 50%;
                            transition: width 0.3s ease;
                        }   
                    }
                }                
            }
        }
    }

    
}