body {
    background-color: color(whiteColor);
    font-family: $primary-font;
    padding-top: 10px;
    

    @include response(md) {
        padding-top: 30px;
    }

    .divider {
        width: 92%;
        min-width: 310px;
        max-width: 510px;
        height: 1px;
        background-color: color(blackColor);

        @include response(md) {
            max-width: 510px;
        }

        @include response(lg) {
            max-width: 700px;
        }
    }

    button {
        border-radius: 10px;
        width: 180px;
        height: 50px;
        background-color: color(secondary);
        color: color(whiteColor);
        font-size: size(sm);
        border: none;
        filter: drop-shadow(4px 4px 4px #00000080);
        cursor: pointer;

        &:hover {
            background-color: color(hoverColor);
            color: color(blackColor); 
        }
    }
}