$colors: (
    whiteColor: #FDFFF1,
    primary: #108F88,
    secondary: #DF7800,
    hoverColor: #FFA53C,
    blackColor: #000000
);

@function color($color-name) {
    @return map-get($colors, $color-name);
}

$primary-font: 'Urbanist', sans-serif; 

$font-sizes: (
    xl: 2.5rem, //40px
    lg: 1.5 rem, //24px
    md: 1.25 rem, //20px
    sm: 1.125 rem, //18px 
    xs: 1 rem       //16px
); 

@function size($size) {
    @return map-get($font-sizes, $size);
}

$debugging: false;

div {
    @if $debugging {
        outline: 1px solid hotpink;
    }
}